@import '../variables';

.gallery {
    padding: 100px 0 110px 0;
    margin: 0 50px;
    &__subtitle {
        color: $GrayscaleBlack;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;

        &::after {
            position: absolute;
            content: '';
            left: auto;
            width: 473px;
            height: 2px;
            margin: 11px;
            background: #000;
        }
    }
    &__title {
        color: $Grayscale50;
        font-size: 36px;
        font-weight: 600;
        line-height: 140%;
        padding: 32px 0 46px 0;
    }
}

.gallery__wrapper {
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.gallery__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    &::before {
        content: 'Торгово-офисный центр с крытым переходом из метро';
        position: absolute;
        size: 18px;
        font-weight: 600;
        line-height: 120%;
        color: white;
        width: 395px;
        margin: 226px 0 0px 20px;
    }
  }

.box2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    &::before {
        content: 'Уникальные пространства для резидентов бизнес центра';
        position: absolute;
        size: 18px;
        font-weight: 600;
        line-height: 120%;
        color: white;
        width: 233px;
        margin: 500px 0 0px 20px;
    }
  }

.box3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    &::before {
        content: 'Уличная гостиная» с удобной мебелью';
        position: absolute;
        size: 18px;
        font-weight: 600;
        line-height: 120%;
        color: white;
        width: 233px;
        margin: 226px 0 0px 20px;
    }
  }

.box4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    &::before {
        content: 'Подземная и наземная парковка с электро-зарядками';
        position: absolute;
        size: 18px;
        font-weight: 600;
        line-height: 120%;
        color: white;
        width: 233px;
        margin: 204px 0 0px 20px;
    }
  }

.box5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    &::before {
        content: 'Благоустройство более 7Га с выходом к набережной';
        position: absolute;
        size: 18px;
        font-weight: 600;
        line-height: 120%;
        color: white;
        width: 233px;
        margin: 204px 0 0px 20px;
    }
  }

.box6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    &::before {
        content: 'Магазины, панорамный ресторан, шоу-румы, эвенты';
        position: absolute;
        size: 18px;
        font-weight: 600;
        line-height: 120%;
        color: white;
        width: 233px;
        margin: 204px 0 0px 20px;
    }
}