@import '../variables';
.inf {
    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $GrayscaleBlack;
        text-transform: uppercase;
        margin: 0 0 20px 0;

        &::after {
            position: absolute;
            content: '';
            left: auto;
            width: 529px;
            height: 2px;
            margin: 10px;
            background: #000;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 36px;
        line-height: 140%;
        width: 713px;
        margin-bottom: 46px;
        color: $Grayscale50;
    }
    &__description_1 {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        width: 654px;
        color: $Grayscale10;
        margin: 0 50px
    }
    &__block {
        background: $PrimaryBLue100;
        margin: 20px;
        display: grid;
        grid-template-columns: 66fr 66fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 55px 68px 68px 55px;
        margin: 65px 0 65px 0;
        width: 1200px;
        &__item {
            & span {
                position: absolute;
                
            }
            &__title {
                font-size: 20px;
                font-weight: 600;
                line-height: 120%;
                color: white;
                text-align: left;
                padding: 40px;
                margin-left: 95px;
            }
        }
        &__img {
            border-radius: 100px;       
            margin: 20px;  
        }
    }
    
    &__text_2 {
        position: relative;
    }
    &__description_2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        width: 634px;
        color: $Grayscale10;
        float: right;
    }

    a {
        position: absolute;
        float: right;
        padding: 14px 32px;
        top: 250px;
        right: 34vw;
        background: $PrimaryBLue100;
        color: white;
    }
}

.banner {
    width: 100%;
    padding: 100px 0 0 0;
}
